.button-green {
  display: inline-block;
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  font-size: 1.1em;
  background: rgba(100,255,100,0.8);
  transition-duration: 0.3s;
}

.button-blue:hover {
  background: rgba(100,255,100,1);
  padding: 10px 26px;
  letter-spacing: 0.2px;
  transition-duration: 0.3s;
}